
:root {
  /* --mint: #98ff98; */
  --mint: #77f277;
}

body {
  background-color: whitesmoke;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


li img{
  float: left;
  display: block;
  padding: 1vh 1vw;
  height: min(15vw, 20vh);
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.box div {
  width: 75%; 
  height: 75%;
}

.main {
  color: WhiteSmoke;
  font-size: min(5vw, 7vh);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#fileSelect {
  background-color: transparent;
  color: WhiteSmoke;
  font-family: "Open Sans", sans-serif;
  font-size: min(5vw, 7vh);
  border-style: dashed;
  border-radius: 10px;
  padding: 5%;
  border-width: thick;
  border-color: whitesmoke;
  margin-top: 0.2em;
}

.upload {
  display: flex;
  margin-left: 12%;
  justify-content: center;
}

#triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -50%;
  border-top: 120vh solid var(--mint);
  border-left: 150vw solid transparent;
  z-index: -1;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

.logo {
  filter: invert(1);
  position: absolute;
}

.disclaimer {
  position: absolute;
  bottom: 1%;
  font-family: "Open Sans", sans-serif;
  color: var(--mint);
  width: 66%;
  background-color: whitesmoke;
  border-radius: 25px;
  text-align: center;
  font-size: max(1.5vw, 1.5vh);
}