<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

  <title>legal-ease</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>

    <%- include('partials/header'); %>
    

    <div class="box">
      <h1 class="main">we're working on it</h1>
      <div class="loader"></div>
      <!-- <img src="/assets/booba.gif" alt='boopa' style="height: 60vh"/> -->
      <%- include('partials/footer'); %>
    </div>
    
    <div id="triangle"></div>


  </body>
      <script>
        setInterval(() => {
          async function fetchData() {
            const response = await fetch(encodeURI('http://localhost:5000/processpdf/<%-JSON.stringify(id) %>'));
            const data = await response.text();
            return data;
          }
          // fetchData().then(data => data ? window.location.href = encodeURI(`http://localhost:8080/contract/<%-JSON.stringify(id) %>`) : console.log());
          fetchData().then(console.log());
        }, 100);
      </script>
</html>