<!DOCTYPE html>
<bod>
  <head>
    <meta charset="utf-8">

  <title>Little Lawyer</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
  </head>
  <body>

    <%- include('partials/header'); %>
    

    <div class="box">
      <h1 class="main">we're working on it</h1>
      <div class="loader"></div>
      <!-- <img src="/assets/booba.gif" alt='fuck' style="height: 60vh"/> -->
      <%- include('partials/footer'); %>
    </div>
    
    <div id="triangle"></div>


  </body>
      <script src="loadscript.js"></script>
</html>