<div>
  <h1 class="main">hey there, looks like you could use some help understanding a legal contract. let us have a look at it</h1>
  <div class="upload">
    <form action="http://localhost:5000/processpdf" method="POST" style="display:none" id='upload'>
      <input type="file" id="fileElem" multiple accept="application/pdf" name="pdf" style="display:none" onchange="handleChange()">
    </form>
    <button id="fileSelect">pdf upload</button>
  </div>
</div>