<div>
  <h1 class="main">hey there, looks like you could use some help understanding a legal contract. let us have a look at it</h1>
  <div class="upload">
    <input type="file" id="fileElem" multiple accept="application/pdf" style="display:none">
    <button id="fileSelect">pdf upload</button>
  </div>
</div>